p.danger {
  color: red;
  font-size: 15px;
}

input.danger {
  border: 2px solid red;
}

.button {
  font-size: 2rem;
  margin-top: 1%;
  margin-left: 2%;
  display: flex;
  width: auto;
  border: #fff solid 3px;
  padding: 1%;
  height: auto;
  border-radius: 100px;
  background-color:  #000000;
  color:#fff;
  align-self: start;
}

.button:hover {
  background-color: #fff;
  color: #000000;
  transition-delay: 0.2s;
  transition: 0.8s;
}

.mainTitle {
  align-self: left;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 50px;
  color:#fff;

}

.formContainer {
  background: rgba(233, 228, 228, 0.651);
  width: 80%;
  height: auto;
  box-shadow: 0px 0px 30px 2px rgb(187, 184, 184);
  font-family: 'Dosis', sans-serif;
  border-color: rgb(227, 230, 227);
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-self: center;
  z-index: 1;
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subTitle {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
  text-align: center;
  width: 100%;
  font-size: 25px;
}

.subInput {
  flex-direction: column;
  align-self: center;
  width: 90%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 1.5rem;
}

.subTextBox {
  width: 90%;
  height: 100px;
  flex-direction: column;
  align-self: center;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 1.2rem;
}

.select {
  width: 60%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  flex-direction: column;
  align-self: center;
  margin: 15px
}

.data {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 15px;
  color: white;
  border:hidden;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  font-size: 18px;
  padding: 8px 8px 8px 8px

}

.diets {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.submitButton {
  margin: 20px;
  border: none;
  border-radius: 10px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: #24721a;
  color: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.5);
  cursor: pointer;
  width: 120px;
  height: 50px;
  font-size: 18px;
  font-weight:bolder;
  align-self: center;
}

.submitButton:hover{
  transition-delay: 0.2s;
  transition: 0.8s;
  background-color: #2e9720;
  border: none;
  color: #ffffff;
}

.error {
  font-family: Lato, Arial, Helvetica, sans-serif;
  color: #FF0000;
  text-align:center;
  font-size: 14px;
}

.selectedDiets {
  display: flex;
  flex-direction: row;
  align-self: center;
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-color: black;
  margin-top: 5px;
  margin-left:  30px;
  padding-left: 10px;


}
.crossButton {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 15px;
  color: white;
  border:hidden;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  font-size: 16px;
  cursor: pointer;
}

.crossButton:hover {
  transition-delay: 0.2s;
  transition: 0.8s;
  background-color: rgb(255, 0, 0);
  border: none;
  color: #000000;
}

.dropzone {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  border: 5px dashed rgb(117, 112, 112);
  padding: 2rem;
}
.btnSelectImg{
  width: auto;
  align-self: center;
  margin: 5% 0;
  color:#FFFFFF;
  font-weight: 700;
  background-color: rgb(40, 18, 141);
  padding: 1% 4%;
  border: none;
  border-radius:10px;
  font-size: 0.9rem;
  width: auto;
  cursor: pointer;
  width: auto;
  margin-right: 2%;
}
.btnSelectImg:hover{
  background-color: rgb(48, 31, 124);
}
.urlImgDiv{
  width: 100%;
  display: flex;
  flex-direction:column ;
  align-items: center;
}
.urlImg{
align-self: center;
  width: 50%;
  margin-bottom: 5%;

}
.cancelBtn{
  width: 20%;
  align-self: center;
  margin-bottom: 5%;
}
.stepContainer{
  width: 100%;
  display:flex;
  align-items: center;
  margin-top: 2%;
  flex-direction: column;
  margin-bottom: 2%;
}
.addStepbtn{
  color:#FFFFFF;
  font-weight: 700;
  background-color: #386BC0;
  padding: 1% 4%;
  border: none;
  border-radius:10px;
  font-size: 0.9rem;
  width: auto;
  cursor: pointer;
  width: auto;
  margin-right: 2%;
}

.addStepbtn:hover{
  background-color: #2660c4;
}

.stepInput{
  width: 80%;
  font-size: 1.1rem;
  margin-bottom: 1%;
}

.deleteStepBtn{
  color:#FFFFFF;
  font-weight: 700;
  background-color: #DC4C64;
  padding: 1% 4%;
  border: none;
  border-radius:10px;
  font-size: 0.9rem;
  width: auto;
  cursor: pointer;
  width: auto;
}
.deleteStepBtn:hover{
  background-color:#cf364f;
}

.btnsDiv{
  display: flex;
  width: 100%;
  justify-content: center;
}

.urlImgInput{
  width: 100%;
  font-size: 1.2rem;
}

.imageContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%
}

.urlImgP{
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 750px) {
  .dropzone{width: 80%;}
}
@media only screen and (max-width: 450px) {
  .dropzone{width: 80%;}
}
