.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around ;
  width: 33%;
  height: 90%;
  border-width: 0.2rem;
  border-style: outset;
  background-size:cover;
  border-radius: 10px;
  border-color: rgba(48, 0, 78, 0.87);
  transition: transform .5s;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(228, 231, 12, 0.5);
  text-decoration: none;
}

.mainContainer:hover{
  transform: scale(1.1);
}

.title {
  font-size: 24px;
  align-self: center;
  text-align: center;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
  color: rgba(203, 75, 207, 1)
}
.link{
  width: 30%;
  height: 90%;
  text-decoration: none;
}

.diets {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  align-self: center;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  color: rgba(48, 0, 78, 0.87)
}

.image {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}
.recipeContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 40px;
}

/* CSS */
.button24 {
  align-self: center;
  width: 50%;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}
